@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap');

$red : rgba($color: #ed5d4b, $alpha:0.5);

body {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-weight: 300;
}

section {
    display: flex;
    justify-content: center;
}

.img-wrp{
    width: 90%;
    margin: 0 auto;
    padding: none;
    justify-content: space-between;
}

.img-cont{
    width: 30%;
}

img{
    height: 200px;
    width: 100%;
}

.img-cont:hover{
    color: $red;
}