@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap');

$red : #ed5d4b;
$blue: #456788;
$green: #168b76;

body {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-weight: 300;
}

section {
    display: flex;
    justify-content: center;
}

.img-wrp{
    width: 90%;
    margin: 0 auto;
    padding: none;
    justify-content: space-between;
    height: 200px;
}

%img-cont{
    width: 30%;
    position: relative;
    text-align: center;
    color: white;
}

.img-cont-red{
    @extend %img-cont;
    background-color: $red;
}

.img-cont-green{
    @extend %img-cont;
    background-color: $green;
}

.img-cont-blue{
    @extend %img-cont;
    background-color: $blue;
}


img{
    height: 200px;
    width: 100%;
    margin: 0;
}

.img-cont-red:hover img, .img-cont-green:hover img, .img-cont-blue:hover img{
    opacity: 0.4;
}

.ico{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -50;
    font-size: 18px;
}

.img-cont-red:hover .ico,
.img-cont-green:hover .ico,
.img-cont-blue:hover .ico{
    z-index: 50;
}
