/*FUENTES*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
/*VARIABLES*/
/*GENERAL*/
/* Estilos Genericos */
* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

/*HEADER*/
.container {
  display: flex;
  /*imagen y logo*/
  /*Items de la barra*/
}

.container .flex-item-A {
  flex-grow: 1;
  background-color: whitesmoke;
  width: 100vh;
}

.container .item-1 {
  text-align: center;
  padding-top: 10px;
}

.container .uni {
  height: 13vh;
}

.container .Logo {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  text-align: center;
  color: #0c4d95;
}

.container button {
  border-radius: 0px 0px 0px 0px;
  -moz-border-radius: 0px 0px 0px 0px;
  -webkit-border-radius: 0px 0px 0px 0px;
  border: 0px solid #000000;
  background-color: whitesmoke;
  width: 100vh;
  transition: all 0.3s;
}

.container button:hover {
  -webkit-box-shadow: 3px 0px 24px 8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 0px 24px 8px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 0px 24px 8px rgba(0, 0, 0, 0.75);
  background-color: #0c4d95;
  color: whitesmoke;
  cursor: pointer;
}

.container .item {
  text-align: justify;
  padding-left: 30px;
  text-align: center;
  padding-right: 30px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}

/*MAIN*/
.decoration {
  background-color: #0c4c95;
  background: filter-gradient(#0c4d95, #0c4d95, horizontal);
  background: background-image(linear-gradient(left, #0c4c95 0%, #0c3c95 27%, #00c3d9 53%, #00c3d9 53%, #0c3c95 73%, #0c3c95 100%));
  height: 1vh;
}

#main-cont {
  display: flex;
}

.content {
  flex-basis: 70%;
  width: 70%;
  padding-top: 20px;
}
.content .content__title {
  padding-left: 10%;
  font-family: Arial, Helvetica, sans-serif;
  color: #272727;
  fill: transparent;
  margin-bottom: 20px;
}
.content .content__main-section {
  padding-left: 10%;
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}
.content .content__main-section__img__picture {
  width: 200px;
  height: 250px;
  border-radius: 3px;
}
.content .content__main-section__img__picture:hover {
  box-shadow: 0 0 36px -5px #0c4d95;
  border: 1px solid #0c4d95;
  cursor: pointer;
}
.content .content__main-section .info {
  margin-left: 25px;
}
.content .content__main-section .info h1 {
  margin-bottom: 10px;
}
.content .content__main-section .info span {
  color: #272727;
}
.content .content__main-section .info span span {
  color: #f67d48;
  font-weight: 600;
}
.content .content__main-section .info__link {
  text-decoration: none;
  color: #272727;
}
.content .content__main-section .info__link:hover {
  color: #0c4d95;
  border-bottom: 2px solid #0c4d95;
}
.content .content__main-section .info__paragraph {
  line-height: 28px;
  width: 90%;
  text-align: justify;
  color: #272727;
  font-weight: 300;
  margin-top: 15px;
  margin-bottom: 15px;
}
.content .content__main-section .info__views-comments {
  color: black;
}
.content .content__main-section .info__views-comments ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.content .content__main-section .info__views-comments ul li {
  margin-right: 8px;
}

.btn {
  width: 100%;
  width: 200px;
  height: 50px;
  border: 2px solid #555;
  background: whitesmoke;
  text-align: center;
  padding-top: 14px;
  border-radius: 15px;
  transition: 0.4s;
  cursor: pointer;
  margin: 0 auto 15px auto;
}
.btn a {
  text-decoration: none;
  color: #f67d48;
  font-size: 18;
}
.btn a:link {
  text-decoration: none;
}
.btn:hover {
  background: #555;
}

/*ASIDE*/
aside {
  flex-basis: 20%;
  display: flex;
  flex-flow: column wrap;
  margin-top: 2em;
}
aside .side-sect {
  min-height: 200px;
  width: 100%;
  margin: 10px;
  padding: 10px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.75), 1px 0 1px rgba(0, 0, 0, 0.75);
  margin-bottom: 25px;
}
aside .side-sect h4 {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  border-bottom: 1px solid #ccc;
  padding: 1em 0;
  margin-bottom: 1em;
}
aside .side-sect .form-block {
  display: block;
  width: 100%;
  margin: 1em 0;
}
aside .side-sect input[type=email] {
  width: 100%;
  height: 30px;
  font-size: 14px;
  color: #444;
  border: 1px solid #ccc;
  padding: 1.5em 1em;
  border-radius: 5px;
  transition: all 0.3s;
}
aside .side-sect input[type=email]:focus {
  color: #222;
  border-color: #aaa;
  box-shadow: 0 0 4px #ccc inset;
}
aside .side-sect .tag {
  font-size: 13px;
  margin-right: 0.5em;
  color: #555;
}
aside .side-sect input[type=submit] {
  width: 100%;
  font-size: 16px;
  padding: 0.5em 0.5em;
  outline: none;
  background-color: #0c4d95;
  color: #fff;
  border-radius: 5px;
  border: none;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.75), 2px 0px 2px rgba(0, 0, 0, 0.75);
}
aside .side-sect iframe {
  width: 100%;
  height: 300px;
  padding: 5px;
}
aside .side-sect ul li {
  margin-bottom: 5px;
}
aside .side-sect ul i {
  display: inline;
  margin-right: 1em;
}
aside .side-sect ul a {
  text-decoration: none;
  color: #272727;
  transition: all 0.1s;
}
aside .side-sect ul a:hover {
  color: #0c4d95;
}

/*FOOTER*/
/* Estilos Genericos */
ul {
  list-style: none;
  padding-left: 0;
}

footer {
  background-color: #555;
  color: #bbb;
  line-height: 1.5;
}

footer a {
  text-decoration: none;
  color: #eee;
}

a:hover {
  text-decoration: underline;
}

.ft-title {
  color: #fff;
  font-family: "Lato", serif;
  font-size: 1.375rem;
  padding-bottom: 0.625rem;
}

/* Fijar el Footer en el fondo */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.container {
  flex: 1;
}

/* Footer */
.ft-main {
  padding: 1.25rem 1.875rem;
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (min-width: 29.8125rem) {
  .ft-main {
    justify-content: space-evenly;
  }
}
@media only screen and (min-width: 77.5rem) {
  .ft-main {
    justify-content: space-evenly;
  }
}
.ft-main-item {
  padding: 1.25rem;
  min-width: 12.5rem;
}

/* Footer | Social */
.ft-social {
  padding: 0 1.875rem 1.25rem;
}

.ft-social-list {
  display: flex;
  justify-content: center;
  border-top: 1px #777 solid;
  padding-top: 1.25rem;
}

.ft-social-list li {
  margin: 0.5rem;
  font-size: 1.25rem;
  display: inline-block;
  width: 2.25rem;
  height: 2.25rem;
  text-align: center;
  line-height: 2.25rem;
  border-radius: 50%;
  transition: all 0.1s;
}
.ft-social-list li:hover {
  background-color: #fff;
}
.ft-social-list li:hover a {
  color: #777;
}

/* Footer | Legal */
.ft-legal {
  padding: 0.9375rem 1.875rem;
  background-color: #333;
}

.ft-legal-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.ft-legal-list li {
  margin: 0.125rem 0.625rem;
  white-space: nowrap;
}

/* Mueve unicamente el ultimo elemento de la lista*/
.ft-legal-list li:nth-last-child(2) {
  flex: 1;
}

/*# sourceMappingURL=styles.css.map */
