/*FONTS IMPORT*/
@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeueMedium.ttf") format("TrueType");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/Helvetica Neu Bold.ttf") format("TrueType");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeue BlackCond.ttf") format("TrueType");
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeue Light.ttf") format("TrueType");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeue Thin.ttf") format("TrueType");
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeueIt.ttf") format("TrueType");
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeueHv.ttf") format("TrueType");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeue.ttf") format("TrueType");
  font-style: normal;
  font-weight: normal;
}
/*COLOR VARIABLES*/
/*GENERAL STYLES*/
body {
  font-family: "HelveticaNeue", serif;
  font-size: 15px;
  line-height: 1.4;
  min-width: 1140px;
}

* {
  padding: 0;
  margin: 0;
}

/*HEADER*/
header {
  display: flex;
  position: fixed;
  z-index: 999;
  flex-wrap: wrap;
  width: 80%;
  height: 66px;
  align-items: center;
  padding: 0 10%;
  background-color: rgba(0, 0, 0, 0.9);
}
header #logo {
  display: block;
}
header #logo img {
  height: 20px;
}
header nav {
  display: block;
  margin-left: auto;
}
header nav ul li {
  display: inline-block;
  margin: 0 2em;
}
header nav ul li a {
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 2px;
  color: #fff;
  transition: all 0.15s ease-in-out;
}
header nav ul li a:hover {
  color: #ca0500;
}
header nav ul li:last-child {
  margin-right: 0;
}

/*PRINCIPAL*/
main {
  margin: 0;
  min-width: 1140px;
}
main #banner {
  display: flex;
  height: 612px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("../img/banner.png");
}
main #banner #bann-cont {
  height: auto;
}
main #banner h1 {
  display: block;
  padding: 0;
  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0 0 2px #111111;
  letter-spacing: 3px;
}
main #banner h3 {
  display: block;
  font-size: 21px;
  margin: 25px 0;
  font-weight: 700;
  color: #fff;
  text-shadow: 0 0 1px #111111;
}
main #banner button {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  width: 166px;
  height: 40px;
  background-color: #ca0500;
  color: #fff;
  border: none;
  outline: none;
  transition: all 0.1s;
}
main #banner button:hover {
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5) inset;
  border: 1px solid #ca0500;
}
main #articles {
  display: block;
  width: 100%;
  overflow: hidden;
}
main #articles article {
  display: inline-block;
  width: 32.43%;
  padding: 0 8.7865%;
  padding-top: 60px;
  height: 700px;
  margin: 0;
}
main #articles article h3 {
  display: block;
  width: 100;
  font-size: 36px;
  font-weight: 300;
}
main #articles article h5 {
  display: block;
  width: 100;
  font-size: 22px;
  font-weight: 300;
  font-style: italic;
  margin-bottom: 25px;
}
main #articles article p {
  display: block;
  width: 100;
  font-weight: 300;
  margin-bottom: 25px;
}
main #articles article p:last-child {
  margin-bottom: 60px;
}
main #articles article.white-bg {
  background-color: #fff;
}
main #articles article.black-bg {
  margin-top: -25;
  vertical-align: top;
  color: #fff;
  background: linear-gradient(-45deg, #414141, #171717);
  transform: skewX(-7deg) scaleX(1.12);
}
main #articles .skew-cont {
  transform: skewX(7deg) scaleX(0.893);
}
main #articles hr {
  width: 10%;
  margin: 20px 0;
  border: 2px solid #ca0500;
}

/*FOOTER*/
footer {
  width: 85%;
  background-color: #111111;
  color: #999;
  padding: 25px 7.5%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 85px;
}
footer .foot-section {
  height: 130px;
}
footer .foot-section h6 {
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 1em;
  text-transform: uppercase;
}
footer .foot-section ul {
  font-size: 13px;
  font-weight: 300;
  list-style: none;
  margin-top: 0.5em;
  line-height: 1.6em;
}
footer .foot-section ul li a {
  display: block;
  text-decoration: none;
  color: #999;
  transition: all 0.1s;
}
footer .foot-section ul li:hover a {
  color: #fff;
  cursor: pointer;
}
footer .foot-section .social {
  display: block;
  padding: 1em 0;
}
footer .foot-section .social a {
  display: inline-block;
  text-align: center;
  width: 44px;
  height: 44px;
  line-height: 44px;
  background-color: #000;
  color: #999;
  border-radius: 100%;
  font-size: 20px;
  margin-right: 0.75em;
  transition: all 0.2s;
}
footer .foot-section .social a:hover {
  color: #ca0500;
  background-color: #fff;
}
footer #copy {
  font-size: 13px;
}

/*# sourceMappingURL=styles.css.map */
