/*FONTS IMPORT*/
//medium
@font-face{
    font-family: 'HelveticaNeue';
    src: url("../fonts/HelveticaNeueMedium.ttf") format("TrueType");
    font-style: normal;
    font-weight: normal;
}
//Bold
@font-face{
    font-family: 'HelveticaNeue';
    src: url("../fonts/Helvetica Neu Bold.ttf") format("TrueType");
    font-style: normal;
    font-weight: 700;
}
//black condensed
@font-face{
    font-family: 'HelveticaNeue';
    src: url("../fonts/HelveticaNeue BlackCond.ttf") format("TrueType");
    font-style: normal;
    font-weight: 800;
}
//light
@font-face{
    font-family: 'HelveticaNeue';
    src: url("../fonts/HelveticaNeue Light.ttf") format("TrueType");
    font-style: normal;
    font-weight: 300;
}
//thin
@font-face{
    font-family: 'HelveticaNeue';
    src: url("../fonts/HelveticaNeue Thin.ttf") format("TrueType");
    font-style: normal;
    font-weight: 200;
}
//italic
@font-face{
    font-family: 'HelveticaNeue';
    src: url("../fonts/HelveticaNeueIt.ttf") format("TrueType");
    font-style: italic;
    font-weight: normal;
}
//heavy
@font-face{
    font-family: 'HelveticaNeue';
    src: url("../fonts/HelveticaNeueHv.ttf") format("TrueType");
    font-style: normal;
    font-weight: 600;
}
//normal
@font-face{
    font-family: 'HelveticaNeue';
    src: url("../fonts/HelveticaNeue.ttf") format("TrueType");
    font-style: normal;
    font-weight: normal;
}
/*COLOR VARIABLES*/
